################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MorpheusInTheUnderworld
/MorpheusInTheUnderworld/obj/x86/Release
/MorpheusInTheUnderworld/obj/x86/Debug
/MorpheusInTheUnderworld/bin/Windows/x86
/MorpheusInTheUnderworld/bin/Windows/x86/Debug
/MorpheusInTheUnderworld/bin/Windows/x86/Release

/MorpheusInTheUnderworld/Classes/Systems/DotPlayerRenderSystem.cs
/MorpheusInTheUnderworld/Classes/Systems/DotPlayerSystem.cs
